<br>
<div class="heading">
<a href="{{profileUrl}}">{{postAuthorName}}</a> has created a new post
<br>
<br>
{{#if url}}
  <a href="{{linkUrl}}" class="action-link">{{postTitle}}}</a>
{{else}}
  {{postTitle}}}
{{/if}}
</div>
<div class="post-tagline">{{postTagline}}</div>
<a href="{{postUrl}}" class="read-more-link">Discuss</a><br><br>
